<input type="hidden" id="screenpopurl_01" value="">
<input type="hidden" id="screenpopurl_02" value="">
<input type="hidden" id="screenpopurl_03" value="">
<input type="hidden" id="screenpophomeurl_01" value="">
<input type="hidden" id="screenpophomeurl_02" value="">
<input type="hidden" id="screenpophomeurl_03" value="">

<div id="content" style="margin-top: 64px; margin-left: 72px;">
</div>
<!-- <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer> -->
<style>
    .screen_hide {
        display: none;
    }
    
    .screen_show {
        padding: 0px;
    }
</style>